<nav class="fixed bottom-0 right-0 left-0 bg-white h2">
  {{!--{{#foreach navigation}}
    <a href="{{url absolute="true"}}">{{label}}</a>
  {{/foreach}}
  {{#if @labs.subscribers}}
    <a href="{{@blog.url}}/subscribe/}}">Subscribe</a>
  {{else}}
    <a href="{{@blog.url}}/rss/}}">Subscribe</a>
  {{/if}}--}}
  asd
</nav>
