<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <link rel="stylesheet" href="/assets/css/app.css" />

    {{ghost_head}}

  </head>
  <body>
    {{navigation}}

    {{{body}}}

    <script src="/assets/js/manifest.js"></script>
    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/app.js"></script>
    {{ghost_foot}}
  </body>
</html>
